<div class="container">
    <div class="sub_container">
        <p>Matrícula:</p>
        <input type="text">
    </div>
    <div class="sub_container">
        <p>Nombre:</p>
        <input type="text">
    </div>
    <div class="sub_container">
        <p>Apellidos:</p>
        <input type="text">
    </div>
    <div class="sub_container">
        <p>Fecha de Nacimiento:</p>
        <input type="date">
    </div>
    <div class="sub_container">
        <p>Género:</p>
        <span><input type="radio" name="genero">Hombre</span>
        <span><input type="radio" name="genero">Mujer</span>
    </div>
</div>
